<div class="ui-g">
  <form class="ui-g-8 ui-g-offset-2" [formGroup]="airlineCompanyForm" (ngSubmit)="update()">
    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input matInput placeholder="航空公司名称" formControlName="name">
      </mat-form-field>
      <mat-error *ngIf="airlineCompanyForm.get('name').errors?.required && airlineCompanyForm.get('name').touched">请输入名称</mat-error>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <app-city-select [cityCtr]="airlineCompanyForm.get('city')" class="full-width"></app-city-select>
      <mat-error *ngIf="airlineCompanyForm.get('city').errors?.required && airlineCompanyForm.get('city').touched">请选择城市</mat-error>
    </div>

    <div class="ui-g ui-g-12 form-control full-width">
      <button mat-stroked-button type="button" (click)="file.click()">选择图标</button>
      <input type="file" [hidden]="true" #file>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <div class="ui-g-2 ui-g-offset-3">
        <button mat-stroked-button style="width: 100%;" routerLink="/airline-company" type="button">取消</button>
      </div>
      <div class="ui-g-2 ui-g-offset-1">
        <button mat-stroked-button color="primary" style="width: 100%;" type="submit" [disabled]="airlineCompanyForm.invalid">更新</button>
      </div>
    </div>
  </form>
</div>
