.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0 !important;
}

.app-sidebar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  top: 65px;
  background-color: #f3f3f3;
  padding: 7px;
}

.app-sidebar a {
  color: #34393a;
  font-size: 16px;
  display: block;
}

.content {
  width:100%;
  margin-top: 65px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
