<div class="ui-g">
  <div class="seat-sample" *ngFor="let displayShipSpace of disPlayShipSpaces;let i = index;">
    <span>{{displayShipSpace.shipSpace.described}}</span>
    <button mat-icon-button type="button" [disabled]="true">
      <app-svg-icon iconName="seat" [color]="displayShipSpace.color"></app-svg-icon>
    </button>
  </div>
</div>
<table mat-table [dataSource]="seatDataSource" class="mat-elevation-z8"
       style="width: 100%;height: 500px;border: none !important;">

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>
      *
    </th>
    <td mat-cell *matCellDef="let i = index;">
      {{i + 1}}
    </td>
  </ng-container>

  <ng-container *ngFor="let sign of totalSign;let i = index;" [matColumnDef]="sign">
    <th mat-header-cell *matHeaderCellDef>
      {{sign}}
    </th>

    <td mat-cell *matCellDef="let element" class="seat-container">
      <button mat-icon-button type="button" [disabled]="true">
        <app-svg-icon iconName="seat" [color]="element[i].color"></app-svg-icon>
      </button>
      <span>{{element[i].value.number}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="seatDisplayedColumns;sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: seatDisplayedColumns;">
  </tr>
</table>
