.full-width {
  width: 100%;
}

.form-control {
  margin: 20px 0px;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

.radio-button {
  margin: 5px 10px;
}

#radio-group-label {
  margin: 5px 10px 5px 0px;
}
