<div class="ui-g">
  <form class="ui-g-6">
    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input matInput placeholder="飞机名称">
      </mat-form-field>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <mat-label>选择机型</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of planeType" [value]="type.value">
            {{type.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input matInput placeholder="选择航空公司" aria-label="company" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img class="option-img" aria-hidden [src]="state.flag" height="25">
            <span>{{state.name}}</span> |
            <small>Population: {{state.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <div class="ui-g-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="描述" #described>
        </mat-form-field>
      </div>

      <div class="ui-g-6">
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="票价" min="0" #price>
          <!--        <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="ui-g ui-g-12 form-control">
      <div class="ui-g-8">
        <label id="radio-group-label">是否为主舱位:</label>
        <mat-radio-group aria-label="Select an option" [formControl]="primaryCtrl">
          <mat-radio-button class="radio-button" [value]="true">是</mat-radio-button>
          <mat-radio-button class="radio-button" [value]="false">否</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="ui-g-4">
        <button mat-stroked-button color="primary" (click)="openSnackBar(described.value, price.value)">添加舱位</button>
      </div>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <mat-chip-list #chipList class="full-width">
          <mat-chip
            color="primary"
            [selected]="shipSpace.primary"
            *ngFor="let shipSpace of shipSpaces"
            [selectable]="false"
            [removable]="true"
            (removed)="remove(shipSpace)">
            {{shipSpace.described}}
            <mat-icon class="white-icon" matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            style="max-width: 1px;"
            matInput
            [readonly]="true"
            [matChipInputFor]="chipList"
            placeholder="已选舱位">
        </mat-chip-list>
      </mat-form-field>
    </div>


  </form>
  <div class="ui-g-6">
    <div class="ui-g form-control">
      <div class="ui-g-5">
        <mat-form-field>
          <input matInput type="number" placeholder="座位行数" min="1" [(ngModel)]="seatRow">
        </mat-form-field>
      </div>
      <div class="ui-g-5">
        <mat-form-field>
          <input matInput type="number" placeholder="座位列数" min="1" [(ngModel)]="seatCol">
        </mat-form-field>
      </div>
      <div class="ui-g-2">
        <button mat-stroked-button color="primary" style="margin-top: 15px;" (click)="createSeat()">生成座位表</button>
      </div>
    </div>
    <ng-container class="form-control">
      <div class="ui-g">
        <div class="seat-sample" *ngFor="let shipSpace of shipSpaces;let i = index;">
          <span>{{shipSpace.described}}</span>
          <button mat-icon-button>
            <app-svg-icon iconName="seat" [color]="colors[i]" (click)="setSelectShipSpace(shipSpace, colors[i])"></app-svg-icon>
          </button>
        </div>
        <div class="seat-sample">
          <span>未选择</span>
          <button mat-icon-button [disabled]="true">
            <app-svg-icon iconName="seat"></app-svg-icon>
          </button>
        </div>
      </div>
      <div class="ui-g" *ngIf="seatDataSource.data.length > 0">
        <div class="ui-g-12">
          <table mat-table [dataSource]="seatDataSource" class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>
                <app-svg-icon iconName="seat" [color]="selectColor"></app-svg-icon>
              </th>
              <td mat-cell *matCellDef="let i = index;">
                <mat-checkbox>{{i + 1}}</mat-checkbox>
              </td>
            </ng-container>

            <ng-container *ngFor="let sign of totalSign;let i = index;" [matColumnDef]="sign">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox>{{sign}}</mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let element" class="seat-container">
                <button mat-icon-button (click)="setShipSpaceToSeat(element[i])">
                  <app-svg-icon iconName="seat" [color]="element[i].color"></app-svg-icon>
                </button>
                <span>{{element[i].value.number}}</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="seatDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: seatDisplayedColumns;">
            </tr>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
