<div class="ui-g">
  <form class="ui-g-8 ui-g-offset-2">
    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input matInput placeholder="航空公司名称">
      </mat-form-field>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="选择城市" required [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="ui-g ui-g-12 form-control full-width">
      <button mat-stroked-button type="button" (click)="file.click()">选择图标</button>
      <input type="file" [hidden]="true" #file>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <div class="ui-g-2 ui-g-offset-3">
        <button mat-stroked-button style="width: 100%;" routerLink="/airline-company">取消</button>
      </div>
      <div class="ui-g-2 ui-g-offset-1">
        <button mat-stroked-button color="primary" style="width: 100%;" routerLink="/airline-company">新增</button>
      </div>
    </div>
  </form>
</div>
