<div class="ui-g">
  <form class="ui-g-8 ui-g-offset-2" [formGroup]="cityForm" (ngSubmit)="save()">
    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input matInput placeholder="城市名称" formControlName="name">
      </mat-form-field>
      <mat-error *ngIf="cityForm.get('name').errors?.required && cityForm.get('name').touched">请输入城市名称</mat-error>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <mat-form-field class="full-width">
        <input matInput placeholder="拼音" formControlName="pinyin">
      </mat-form-field>
      <mat-error *ngIf="cityForm.get('pinyin').errors?.required && cityForm.get('pinyin').touched">请输入城市拼音</mat-error>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <label id="radio-group-label">热门城市:</label>
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group" formControlName="primaried">
        <mat-radio-button class="radio-button" [value]="true">
          是
        </mat-radio-button>
        <mat-radio-button class="radio-button" [value]="false">
          否
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="ui-g ui-g-12 form-control">
      <div class="ui-g-2 ui-g-offset-3">
        <button mat-stroked-button style="width: 100%;" routerLink="/city" type="button">取消</button>
      </div>
      <div class="ui-g-2 ui-g-offset-1">
        <button mat-stroked-button color="primary" style="width: 100%;" type="submit" [disabled]="!cityForm.valid">更新
        </button>
      </div>
    </div>
  </form>
</div>
